<div class="admin-login">
    <div class="card">
        <div class="title">
            <h1>System Open Weather</h1>

            <h4>Login</h4>
            <p>Insira suas credenciais para acessar sua conta</p>
        </div>

        <div class="content-form">
            <div class="input-container">
                <div class="label"><strong>Login</strong></div>
                <input pinputtext="" type="text" class="col-lg-12 p-inputtext p-corner-all p-state-default p-widget"
                  formControlName="login" id="login">
            </div>

            <div class="input-container">
                <div class="label"><strong>Senha</strong></div>
                <input pinputtext="" type="password" class="col-lg-12 p-inputtext p-corner-all p-state-default p-widget"
                  formControlName="password" id="password">
            </div>

            <div class="input-container">
                <button pButton type="button" label="Entrar">Entrar</button>
            </div>

            <div class="info-cadastro">
                <span>Ainda não é cadastrado ? <a href="#">Cadastre-se aqui</a></span>
            </div>
        </div>
    </div>
</div>